input, select {
    border-color: #dfdfdf;
    border-width: 1px;
    border-style: solid;
}

.filled {
    background: #f0f0f0;
}

.input-small {
    box-sizing: border-box;
    padding: 5px;
}

.input-medium {
    box-sizing: border-box;
    padding: 8px;
}

.input-large {
    box-sizing: border-box;
    padding: 10px;
}
